# dependencies
node_modules/
.pnp
.pnp.*

# builds
.next/
out/
build/
dist/
.turbo/

# env & secrets
.env
.env.*
!.env.example
*.pem

# testing
coverage/

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
pnpm-debug.log*

# databases
*.sqlite
pg-data/

# python leftovers (should not reappear)
__pycache__/
*.pyc
